body {
  background-color: rgb(80, 80, 80);
}

button {
  margin: 10px;
}

.e-grid td.e-selectionbackground {
  background-color: #00b7ea;
}

/* .table-container {
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
  } */
.page-container {
  display: block;
  height: 100vh; /* Full viewport height */
  width: min-content; /* Full viewport width */
  margin: auto;
  overflow: auto;
}

/* #table-container {
    overflow: auto;
  }
  #table-div {
    overflow: auto;
  } */

.e-grid {
  overflow: auto;
}

.egrid .e-gridcontent {
  overflow-y: auto;
  overflow-x: auto;
}

.e-grid .e-gridheader {
  overflow: auto;
}

.block-container {
  display: flex;
  /* flex-grow: 1 1 auto; */
  align-items: center;
  /* display: block; */
  /* background-color: black; */
  background-color: white;
  margin-top: 2%;
  height: max-content;
}

@media (max-width: 800px) {
  .e-gridheader,
  .e-gridcontent {
    overflow: auto;
  }
}

/* @media (max-width: 800px) {
    .e-daterangepicker.e-popup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-right: auto;
      margin-bottom: auto;
    } */

.custom-filter-popup {
  max-height: 800px;
  z-index: 2147483647;
  width: 255px;
  top: -69.2533px;
  display: block;
  visibility: visible;
  position: absolute; /* Ensure it can float */
  left: 0px; /* Align to the left */
}

.e-gridheader {
  padding-right: 0 !important;
}

.total-container {
  display: flex;
}

.logo {
  /* display: inline-block; */
  width: auto;
  height: 40px;
  /* margin-bottom: 10px; */

  margin-left: auto;
  padding-right: 10px;
  /* margin-bottom: 15px; */
  /* margin: 0 auto -20px 10px; */

  /* background-color: white; */
}
/* .logo-divider {
    width: 100%;
    height: 5px;
    border-bottom: 1px solid black;
  } */
.dateRangePicker {
  display: inline-block;
  width: 300px;
  height: 40px;
  background-color: white;
  /* background-color: lightgreen; */
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  /* margin-left: 25px; */
}
.e-popup {
  /* transform: translate(192px, 5px); */
  height: fit-content;
}

.e-hide {
  display: none;
}
.e-grid .e-gridheader {
  border: 1px solid white;
}

.e-grid .e-headercell {
  color: black;
  background-color: lightsteelblue;
}

.e-grid .e-headercelldiv {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  overflow: hidden;
}

.e-grid .e-columnselection {
  background-color: #aec2ec;
}

.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input {
  font-size: 16px;
}

.e-input-group .e-input-group-icon:last-child,
.e-input-group.e-control-wrapper .e-input-group-icon:last-child {
  font-size: 12px;
  margin-right: 0;
  background-color: white;
}

.e-calendar .e-content td:hover span.e-day,
.e-calendar .e-content td:focus span.e-day,
.e-bigger.e-small .e-calendar .e-content td:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td:focus span.e-day {
  background-color: red;
  border: 2px solid;
  padding-right: 0;
  margin-right: 0;
  color: #212529;
}

.e-calendar .e-header .e-title,
.e-bigger.e-small .e-calendar .e-header .e-title {
  font-size: 16px;
}

.e-calendar .e-header span,
.e-bigger.e-small .e-calendar .e-header span {
  border: 1px solid;
  color: chocolate;
}

/* .e-calendar .e-content thead {
    background: black;
  } */

.e-grid
  .e-gridheader
  .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop):not(
    .e-icon-reorderuparrow
  ):not(.e-icon-reorderdownarrow) {
  color: white;
}

.e-grid
  th.e-headercell[aria-sort='ascending']:not(.e-columnselection)
  .e-headertext,
.e-grid
  th.e-headercell[aria-sort='descending']:not(.e-columnselection)
  .e-headertext,
.e-grid th.e-headercell[aria-sort='ascending'] .e-sortfilterdiv,
.e-grid th.e-headercell[aria-sort='descending'] .e-sortfilterdiv {
  color: white;
}

@import '~@syncfusion/ej2-vue-grids/styles/material-lite.css';
